In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [10]:
url = "https://www.worldometers.info/coronavirus/"

In [11]:
response = requests.get(url)
print(response)

<Response [200]>

In [12]:
soup=BeautifulSoup(response.content, "html.parser")

In [13]:
soup.title

In [14]:
divs=soup.find("div", class_="panel_flip")
for i in divs.find_all("div", class_="panel_front"):
    print(i.text)

1,913,325
Currently Infected Patients


1,855,721 (97%)
in Mild Condition

57,604 (3%)
Serious or Critical


Show Graph

In [15]:
coronatable=soup.find_all("table")

In [23]:
coronatable

[<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;">
 <thead>
 <tr>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br>Cases</br></th>
 <th width="30">Total<br>Deaths</br></th>
 <th width="30">New<br>Deaths</br></th>
 <th width="30">Total<br>Recovered</br></th>
 <th width="30">Active<br>Cases</br></th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">TotÂ Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th style="display:none" width="30">Continent</th>
 </tr>
 </thead>
 <tbody>
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>998,393</td>
 <td>+2,056</td>
 <td>56,389</td>
 <td>+194</td>
 <td>135,476</td>
 <td>806,528</td>
 <td>16,346</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>1,228,118</td>
 <td>+2,804</td>
 <td>117,623</td>
 <td>+299</td>
 <td>398,214</td>
 <td>712,281</td>
 <td>26,127</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>450,542</td>
 <td>+2,326</td>
 <td>16,674</td>
 <td>+71</td>
 <td>213,530</td>
 <td>220,338</td>
 <td>6,043</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>121,322</td>
 <td>+1,156</td>
 <td>5,573</td>
 <td>+35</td>
 <td>45,573</td>
 <td>70,176</td>
 <td>9,620</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>8,257</td>
 <td>+25</td>
 <td>98</td>
 <td>+2</td>
 <td>6,558</td>
 <td>1,601</td>
 <td>46</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>29,862</td>
 <td>+22</td>
 <td>1,331</td>
 <td>+3</td>
 <td>9,141</td>
 <td>19,390</td>
 <td>148</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>645</td>
 <td>61</td>
 <td>4</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 </tr>
 <tr class="total_row_world">
 <td style="text-align:left;">World</td>
 <td>2,837,215</td>
 <td>+8,389</td>
 <td>197,703</td>
 <td>+604</td>
 <td>809,137</td>
 <td>1,830,375</td>
 <td>58,334</td>
 <td>364</td>
 <td>25.4</td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">925,758</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+526</td>
 <td style="font-weight: bold; text-align:right;">52,217 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+24</td>
 <td style="font-weight: bold; text-align:right">110,432</td>
 <td style="text-align:right;font-weight:bold;">763,109</td>
 <td style="font-weight: bold; text-align:right">15,097</td>
 <td style="font-weight: bold; text-align:right">2,797</td>
 <td style="font-weight: bold; text-align:right">158</td>
 <td style="font-weight: bold; text-align:right">5,037,473</td>
 <td style="font-weight: bold; text-align:right">15,219</td>
 <td data-continent="North America" style="display:none">North America</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">219,764</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,524 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">92,355</td>
 <td style="text-align:right;font-weight:bold;">104,885</td>
 <td style="font-weight: bold; text-align:right">7,705</td>
 <td style="font-weight: bold; text-align:right">4,700</td>
 <td style="font-weight: bold; text-align:right">482</td>
 <td style="font-weight: bold; text-align:right">930,230</td>
 <td style="font-weight: bold; text-align:right">19,896</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">192,994</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">25,969 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">60,498</td>
 <td style="text-align:right;font-weight:bold;">106,527</td>
 <td style="font-weight: bold; text-align:right">2,173</td>
 <td style="font-weight: bold; text-align:right">3,192</td>
 <td style="font-weight: bold; text-align:right">430</td>
 <td style="font-weight: bold; text-align:right">1,642,356</td>
 <td style="font-weight: bold; text-align:right">27,164</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">159,828</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">22,245 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">43,493</td>
 <td style="text-align:right;font-weight:bold;">94,090</td>
 <td style="font-weight: bold; text-align:right">4,870</td>
 <td style="font-weight: bold; text-align:right">2,449</td>
 <td style="font-weight: bold; text-align:right">341</td>
 <td style="font-weight: bold; text-align:right">463,662</td>
 <td style="font-weight: bold; text-align:right">7,103</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">155,054</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+55</td>
 <td style="font-weight: bold; text-align:right;">5,767 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+7</td>
 <td style="font-weight: bold; text-align:right">109,800</td>
 <td style="text-align:right;font-weight:bold;">39,487</td>
 <td style="font-weight: bold; text-align:right">2,908</td>
 <td style="font-weight: bold; text-align:right">1,851</td>
 <td style="font-weight: bold; text-align:right">69</td>
 <td style="font-weight: bold; text-align:right">2,072,669</td>
 <td style="font-weight: bold; text-align:right">24,738</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">143,464</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">19,506 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="text-align:right;font-weight:bold;">123,614</td>
 <td style="font-weight: bold; text-align:right">1,559</td>
 <td style="font-weight: bold; text-align:right">2,113</td>
 <td style="font-weight: bold; text-align:right">287</td>
 <td style="font-weight: bold; text-align:right">612,031</td>
 <td style="font-weight: bold; text-align:right">9,016</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">104,912</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">2,600 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">21,737</td>
 <td style="text-align:right;font-weight:bold;">80,575</td>
 <td style="font-weight: bold; text-align:right">1,790</td>
 <td style="font-weight: bold; text-align:right">1,244</td>
 <td style="font-weight: bold; text-align:right">31</td>
 <td style="font-weight: bold; text-align:right">830,257</td>
 <td style="font-weight: bold; text-align:right">9,844</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
 <td style="font-weight: bold; text-align:right">88,194</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">5,574 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">66,599</td>
 <td style="text-align:right;font-weight:bold;">16,021</td>
 <td style="font-weight: bold; text-align:right">3,121</td>
 <td style="font-weight: bold; text-align:right">1,050</td>
 <td style="font-weight: bold; text-align:right">66</td>
 <td style="font-weight: bold; text-align:right">399,927</td>
 <td style="font-weight: bold; text-align:right">4,761</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">68,622</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">615 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,568</td>
 <td style="text-align:right;font-weight:bold;">62,439</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">470</td>
 <td style="font-weight: bold; text-align:right">4</td>
 <td style="font-weight: bold; text-align:right">2,550,000</td>
 <td style="font-weight: bold; text-align:right">17,474</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">54,043</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,048</td>
 <td style="font-weight: bold; text-align:right;">3,704 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+34</td>
 <td style="font-weight: bold; text-align:right">27,655</td>
 <td style="text-align:right;font-weight:bold;">22,684</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">254</td>
 <td style="font-weight: bold; text-align:right">17</td>
 <td style="font-weight: bold; text-align:right">291,922</td>
 <td style="font-weight: bold; text-align:right">1,373</td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/belgium/">Belgium</a></td>
 <td style="font-weight: bold; text-align:right">45,325</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,032</td>
 <td style="font-weight: bold; text-align:right;">6,917 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+238</td>
 <td style="font-weight: bold; text-align:right">10,417</td>
 <td style="text-align:right;font-weight:bold;">27,991</td>
 <td style="font-weight: bold; text-align:right">934</td>
 <td style="font-weight: bold; text-align:right">3,911</td>
 <td style="font-weight: bold; text-align:right">597</td>
 <td style="font-weight: bold; text-align:right">189,067</td>
 <td style="font-weight: bold; text-align:right">16,313</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/canada/">Canada</a></td>
 <td style="font-weight: bold; text-align:right">43,888</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">2,302 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">15,469</td>
 <td style="text-align:right;font-weight:bold;">26,117</td>
 <td style="font-weight: bold; text-align:right">557</td>
 <td style="font-weight: bold; text-align:right">1,163</td>
 <td style="font-weight: bold; text-align:right">61</td>
 <td style="font-weight: bold; text-align:right">660,108</td>
 <td style="font-weight: bold; text-align:right">17,490</td>
 <td data-continent="North America" style="display:none">North America</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/netherlands/">Netherlands</a></td>
 <td style="font-weight: bold; text-align:right">36,535</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">4,289 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="text-align:right;font-weight:bold;">31,996</td>
 <td style="font-weight: bold; text-align:right">963</td>
 <td style="font-weight: bold; text-align:right">2,132</td>
 <td style="font-weight: bold; text-align:right">250</td>
 <td style="font-weight: bold; text-align:right">187,000</td>
 <td style="font-weight: bold; text-align:right">10,913</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/switzerland/">Switzerland</a></td>
 <td style="font-weight: bold; text-align:right">28,677</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,593 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+4</td>
 <td style="font-weight: bold; text-align:right">21,000</td>
 <td style="text-align:right;font-weight:bold;">6,084</td>
 <td style="font-weight: bold; text-align:right">204</td>
 <td style="font-weight: bold; text-align:right">3,313</td>
 <td style="font-weight: bold; text-align:right">184</td>
 <td style="font-weight: bold; text-align:right">235,252</td>
 <td style="font-weight: bold; text-align:right">27,182</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">24,530</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+83</td>
 <td style="font-weight: bold; text-align:right;">780 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">5,498</td>
 <td style="text-align:right;font-weight:bold;">18,252</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">18</td>
 <td style="font-weight: bold; text-align:right">0.6</td>
 <td style="font-weight: bold; text-align:right">579,957</td>
 <td style="font-weight: bold; text-align:right">420</td>
 <td data-continent="Asia" style="display:none">Asia</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/portugal/">Portugal</a></td>
 <td style="font-weight: bold; text-align:right">22,797</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">854 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">1,228</td>
 <td style="text-align:right;font-weight:bold;">20,715</td>
 <td style="font-weight: bold; text-align:right">188</td>
 <td style="font-weight: bold; text-align:right">2,236</td>
 <td style="font-weight: bold; text-align:right">84</td>
 <td style="font-weight: bold; text-align:right">315,758</td>
 <td style="font-weight: bold; text-align:right">30,967</td>
 <td data-continent="Europe" style="display:none">Europe</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/ecuador/">Ecuador</a></td>
 <td style="font-weight: bold; text-align:right">22,719</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">576 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">1,366</td>
 <td style="text-align:right;font-weight:bold;">20,777</td>
 <td style="font-weight: bold; text-align:right">127</td>
 <td style="font-weight: bold; text-align:right">1,288</td>
 <td style="font-weight: bold; text-align:right">33</td>
 <td style="font-weight: bold; text-align:right">56,513</td>
 <td style="font-weight: bold; text-align:right">3,203</td>
 <td data-continent="South America" style="display:none">South America</td>
 </tr>
 <tr style="">
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
 <td style="font-weight: bold; text-align:right">21,648</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">634 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">7,496</td>
 <td style="text-align:right;font-weight:bold;">13,518</td>
 <td style="font-weight: bold; text-align:right">505</td>
 <td style="font-weight: bold; text-align:right">657</td>

In [16]:
len(coronatable)

2

In [17]:
co=coronatable[0]

In [18]:
country = []
total_cases = []
new_cases=[]
total_death=[]
new_Death = []
Total_Recovered = []
rows = co.find_all("tr")[9:-8]
for row in rows:
    col = row.find_all("td")
    country.append(col[0].text.strip())
    total_cases.append(col[1].text.strip())
    new_cases.append(col[2].text.strip())
    total_death.append(col[3].text.strip())
    new_Death.append(col[4].text.strip())
    Total_Recovered.append(col[5].text.strip())
    
    
    
print(country)
print(total_cases)
print(new_cases)
print(total_death)
print(new_Death)
print(Total_Recovered)

['USA', 'Spain', 'Italy', 'France', 'Germany', 'UK', 'Turkey', 'Iran', 'Russia', 'Brazil', 'Canada', 'Belgium', 'Netherlands', 'Switzerland', 'India', 'Peru', 'Portugal', 'Ecuador', 'Ireland', 'Sweden', 'Saudi Arabia', 'Israel', 'Austria', 'Mexico', 'Singapore', 'Japan', 'Chile', 'Pakistan', 'Poland', 'Romania', 'S. Korea', 'Belarus', 'UAE', 'Qatar', 'Ukraine', 'Indonesia', 'Denmark', 'Serbia', 'Philippines', 'Norway', 'Czechia', 'Australia', 'Dominican Republic', 'Malaysia', 'Panama', 'Bangladesh', 'Colombia', 'Finland', 'South Africa', 'Egypt', 'Morocco', 'Argentina', 'Luxembourg', 'Moldova', 'Algeria', 'Kuwait', 'Thailand', 'Kazakhstan', 'Bahrain', 'Hungary', 'Greece', 'Oman', 'Croatia', 'Uzbekistan', 'Iraq', 'Armenia', 'Iceland', 'Azerbaijan', 'Estonia', 'Cameroon', 'Ghana', 'Afghanistan', 'Bosnia and Herzegovina', 'New Zealand', 'Lithuania', 'Slovenia', 'North Macedonia', 'Slovakia', 'Cuba', 'Bulgaria', 'Nigeria', 'Ivory Coast', 'Hong Kong', 'Djibouti', 'Guinea', 'Bolivia', 'Tunisia', 'Latvia', 'Cyprus', 'Andorra', 'Albania', 'Diamond Princess', 'Lebanon', 'Niger', 'Kyrgyzstan', 'Costa Rica', 'Senegal', 'Honduras', 'Burkina Faso', 'Uruguay', 'San Marino', 'Channel Islands', 'Sri Lanka', 'Guatemala', 'Georgia', 'DRC', 'Malta', 'Jordan', 'Somalia', 'Taiwan', 'RÃ©union', 'Mayotte', 'Mali', 'Kenya', 'Jamaica', 'Palestine', 'Mauritius', 'Venezuela', 'El Salvador', 'Montenegro', 'Isle of Man', 'Tanzania', 'Vietnam', 'Equatorial Guinea', 'Sudan', 'Paraguay', 'Maldives', 'Congo', 'Rwanda', 'Faeroe Islands', 'Gabon', 'Martinique', 'Guadeloupe', 'Myanmar', 'Gibraltar', 'Brunei', 'Liberia', 'Madagascar', 'Ethiopia', 'Cambodia', 'Trinidad and Tobago', 'French Guiana', 'Bermuda', 'Cabo Verde', 'Aruba', 'Togo', 'Monaco', 'Sierra Leone', 'Zambia', 'Liechtenstein', 'Bahamas', 'Barbados', 'Uganda', 'Mozambique', 'Sint Maarten', 'Guyana', 'Haiti', 'Cayman Islands', 'Benin', 'Libya', 'Eswatini', 'French Polynesia', 'Guinea-Bissau', 'Nepal', 'Chad', 'Macao', 'Syria', 'Eritrea', 'Saint Martin', 'Mongolia', 'Malawi', 'Zimbabwe', 'Angola', 'Antigua and Barbuda', 'Timor-Leste', 'Botswana', 'CAR', 'Laos', 'Belize', 'Fiji', 'Grenada', 'New Caledonia', 'CuraÃ§ao', 'Dominica', 'Namibia', 'Saint Kitts and Nevis', 'Saint Lucia', 'St. Vincent Grenadines', 'Nicaragua', 'Falkland Islands', 'Burundi', 'Montserrat', 'Turks and Caicos', 'Greenland', 'Seychelles', 'Gambia', 'Suriname', 'MS Zaandam', 'Vatican City', 'Papua New Guinea', 'Mauritania', 'Bhutan', 'British Virgin Islands', 'St. Barth', 'South Sudan', 'Western Sahara', 'Caribbean Netherlands', 'Sao Tome and Principe', 'Anguilla', 'Saint Pierre Miquelon', 'Yemen', 'China']
['987,322', '226,629', '197,675', '162,100', '157,770', '152,840', '110,130', '90,481', '87,147', '63,100', '46,895', '46,134', '37,845', '29,061', '27,977', '27,517', '23,864', '22,719', '19,262', '18,640', '17,522', '15,466', '15,225', '14,677', '14,423', '13,441', '13,331', '13,328', '11,617', '11,036', '10,738', '10,463', '10,349', '10,287', '9,009', '8,882', '8,575', '8,042', '7,579', '7,527', '7,404', '6,720', '6,135', '5,780', '5,779', '5,416', '5,379', '4,576', '4,546', '4,534', '4,065', '3,892', '3,723', '3,408', '3,382', '3,075', '2,931', '2,791', '2,647', '2,583', '2,517', '2,049', '2,030', '1,887', '1,820', '1,808', '1,792', '1,645', '1,643', '1,621', '1,550', '1,531', '1,516', '1,469', '1,449', '1,396', '1,386', '1,381', '1,369', '1,348', '1,273', '1,150', '1,038', '1,023', '996', '950', '949', '818', '817', '738', '726', '712', '707', '696', '695', '695', '671', '661', '632', '606', '538', '525', '523', '500', '496', '459', '448', '447', '436', '429', '417', '401', '389', '355', '350', '342', '332', '325', '323', '321', '308', '299', '270', '258', '237', '228', '214', '200', '191', '187', '176', '175', '149', '146', '141', '138', '124', '124', '123', '122', '116', '111', '109', '106', '100', '98', '94', '93', '88', '82', '80', '79', '79', '76', '74', '74', '74', '70', '64', '61', '59', '57', '53', '52', '46', '45', '43', '39', '38', '38', '34', '31', '26', '24', '24', '22', '19', '19', '18', '18', '18', '18', '16', '16', '16', '15', '15', '14', '13', '13', '11', '11', '11', '11', '11', '10', '10', '9', '9', '8', '7', '7', '6', '6', '6', '6', '5', '4', '3', '1', '1', '82,830']
['+162', '', '', '', '', '', '', '', '+6,198', '+241', '', '', '', '', '+87', '', '', '', '', '', '', '+23', '', '+835', '+799', '', '', '', '', '', '+10', '', '', '', '+392', '', '', '', '', '', '', '+4', '', '', '+241', '', '', '', '', '', '', '', '', '', '', '', '+9', '+74', '', '+83', '', '+51', '', '+18', '', '+62', '', '', '', '', '', '', '', '', '+11', '', '', '+2', '', '+48', '', '', '', '', '', '+84', '', '+6', '', '', '', '', '', '', '+13', '', '', '+34', '', '+10', '', '', '', '+27', '+10', '+17', '', '', '', '', '', '', '', '', '+45', '', '', '', '+25', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+3']
['55,415', '23,190', '26,644', '22,856', '5,976', '20,732', '2,805', '5,710', '794', '4,286', '2,560', '7,094', '4,475', '1,610', '884', '728', '903', '576', '1,087', '2,194', '139', '202', '542', '1,351', '12', '372', '189', '281', '535', '628', '243', '72', '76', '10', '220', '743', '422', '156', '501', '201', '221', '83', '278', '98', '165', '145', '244', '190', '87', '317', '161', '192', '88', '96', '425', '20', '52', '25', '8', '280', '134', '10', '55', '8', '87', '29', '10', '21', '49', '56', '11', '50', '59', '19', '41', '82', '61', '18', '54', '56', '40', '14', '4', '2', '7', '50', '38', '13', '14', '40', '28', '13', '24', '29', '8', '6', '9', '61', '42', '15', '41', '35', '7', '15', '6', '28', '4', '7', '23', '6', '', '4', '23', '14', '7', '2', '9', '10', '8', '7', '18', '10', '', '1', '21', '9', '', '6', '', '', '3', '14', '12', '5', '', '1', '12', '', '3', '', '8', '1', '6', '1', '2', '6', '4', '4', '3', '1', '11', '6', '', '', '13', '8', '6', '1', '1', '2', '1', '', '1', '', '', '', '3', '', '3', '', '3', '4', '2', '3', '', '1', '', '', '2', '', '', '', '1', '', '', '', '', '', '3', '', '1', '1', '1', '', '', '1', '1', '2', '', '', '1', '', '1', '', '', '', '', '', '', '', '', '4,633']
['+2', '', '', '', '', '', '', '', '+47', '+15', '', '', '', '', '+3', '', '', '', '', '', '', '+1', '', '+46', '', '', '', '', '', '+9', '+1', '', '', '', '+11', '', '', '', '', '', '+1', '', '', '', '+6', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '+8', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '+4', '', '+1', '', '', '', '', '', '', '', '', '', '+2', '', '+1', '', '', '', '+2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+1']
['118,781', '117,727', '64,928', '44,903', '114,500', 'N/A', '29,140', '69,657', '7,346', '30,152', '17,321', '10,785', 'N/A', '21,800', '6,523', '8,088', '1,329', '1,366', '9,233', '1,005', '2,357', '6,796', '12,282', '8,354', '1,060', '1,809', '7,024', '3,029', '2,466', '3,054', '8,764', '1,695', '1,978', '1,012', '864', '1,107', '5,805', '1,182', '862', '32', '2,555', '5,586', '910', '3,862', '369', '122', '1,133', '2,500', '1,473', '1,176', '593', '1,107', '3,104', '895', '1,508', '806', '2,609', '682', '1,189', '498', '577', '364', '1,103', '789', '1,263', '848', '1,608', '1,139', '233', '786', '155', '207', '624', '1,180', '474', '221', '500', '403', '501', '205', '239', '468', '772', '411', '208', '80', '216', '267', '148', '344', '410', '645', '145', '350', '395', '264', '283', '79', '453', '375', '64', '332', '120', '49', '149', '50', '282', '337', '10', '290', '300', '144', '112', '106', '28', '83', '299', '137', '89', '153', '247', '48', '225', '8', '20', '85', '17', '19', '92', '178', '30', '77', '82', '10', '131', '124', '25', '71', '41', '119', '58', '87', '39', '1', '73', '62', '42', '10', '42', '55', '22', '39', '46', '12', '33', '12', '7', '8', '33', '18', '10', '43', '3', '16', '15', '31', '14', '13', '24', '10', '4', '5', '6', '11', '2', '', '10', '7', '5', '12', '7', '17', '11', '13', '8', '2', '15', '5', '7', '11', '4', '2', '4', '11', '6', '8', '7', '', '2', '', '6', '4', '3', '6', '', '5', '', '', '1', '', '1', '77,474']

In [20]:
col

[<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/china/">China</a></td>,
 <td style="font-weight: bold; text-align:right">82,830</td>,
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3</td>,
 <td style="font-weight: bold; text-align:right;">4,633 </td>,
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+1</td>,
 <td style="font-weight: bold; text-align:right">77,474</td>,
 <td style="text-align:right;font-weight:bold;">723</td>,
 <td style="font-weight: bold; text-align:right">52</td>,
 <td style="font-weight: bold; text-align:right">58</td>,
 <td style="font-weight: bold; text-align:right">3</td>,
 <td style="font-weight: bold; text-align:right"></td>,
 <td style="font-weight: bold; text-align:right"></td>,
 <td data-continent="Asia" style="display:none">Asia</td>]

In [27]:
df=pd.DataFrame(list(zip(country, total_cases,new_cases,total_death, new_Death, Total_Recovered)), 
                columns=["Country","Total_Cases","New_Cases","total_death","new_Death","Total_Recovered"])
df

,Country,Total_Cases,New_Cases,total_death,new_Death,Total_Recovered
0,USA,"925,758",+526,"52,217",+24,"110,432"
1,Spain,"219,764",,"22,524",,"92,355"
2,Italy,"192,994",,"25,969",,"60,498"
3,France,"159,828",,"22,245",,"43,493"
4,Germany,"155,054",+55,"5,767",+7,"109,800"
5,UK,"143,464",,"19,506",,N/A
6,Turkey,"104,912",,"2,600",,"21,737"
7,Iran,"88,194",,"5,574",,"66,599"
8,Russia,"68,622",,615,,"5,568"
9,Brazil,"54,043","+1,048","3,704",+34,"27,655"
10,Belgium,"45,325","+1,032","6,917",+238,"10,417"
11,Canada,"43,888",,"2,302",,"15,469"
12,Netherlands,"36,535",,"4,289",,N/A
13,Switzerland,"28,677",,"1,593",+4,"21,000"
14,India,"24,530",+83,780,,"5,498"
15,Portugal,"22,797",,854,,"1,228"
16,Ecuador,"22,719",,576,,"1,366"
17,Peru,"21,648",,634,,"7,496"
18,Ireland,"18,184",,"1,014",,"9,233"
19,Sweden,"17,567",,"2,152",,"1,005"
20,Austria,"15,148",+77,536,+6,"12,103"
21,Israel,"15,148",+90,198,+4,"6,159"
22,Saudi Arabia,"15,102",,127,,"2,049"
23,Mexico,"12,872","+1,239","1,221",+152,"7,149"
24,Japan,"12,829",+117,345,,"1,530"
25,Singapore,"12,693",+618,12,,956
26,Chile,"12,306",,174,,"6,327"
27,Pakistan,"11,940",,253,,"2,755"
28,Poland,"11,067",+175,499,+5,"2,126"
29,S. Korea,"10,718",+10,240,,"8,635"
...,...,...,...,...,...,...
182,Dominica,16,,,,10
183,Namibia,16,,,,7
184,Grenada,15,,,,7
185,Saint Kitts and Nevis,15,,,,2
186,Saint Lucia,15,,,,15
187,St. Vincent Grenadines,14,,,,5
188,Falkland Islands,13,+1,,,11
189,Nicaragua,11,,3,,7
190,Burundi,11,,1,,4
191,Montserrat,11,,1,+1,2
192,Turks and Caicos,11,,1,,4
193,Greenland,11,,,,11
194,Seychelles,11,,,,6
195,Gambia,10,,1,,8
196,Suriname,10,,1,,7
197,MS Zaandam,9,,2,,
198,Vatican City,9,,,,2
199,Papua New Guinea,8,,,,
200,Mauritania,7,,1,,6
201,Bhutan,7,,,,3
202,St. Barth,6,,,,6
203,Western Sahara,6,,,,5
204,British Virgin Islands,5,,1,,3
205,Caribbean Netherlands,5,,,,
206,South Sudan,5,,,,
207,Sao Tome and Principe,4,,,,
208,Anguilla,3,,,,1
209,Saint Pierre Miquelon,1,,,,
210,Yemen,1,,,,1
211,China,"82,816",+12,"4,632",,"77,346"

In [28]:
df.dtypes

Country            object
Total_Cases        object
New_Cases          object
total_death        object
new_Death          object
Total_Recovered    object
dtype: object

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 6 columns):
Country            212 non-null object
Total_Cases        212 non-null object
New_Cases          212 non-null object
total_death        212 non-null object
new_Death          212 non-null object
Total_Recovered    212 non-null object
dtypes: object(6)
memory usage: 10.0+ KB

In [30]:
df.replace(r'^\s*$', np.nan, regex = True, inplace = True)
df.replace(np.nan,0, inplace = True)
df

,Country,Total_Cases,New_Cases,total_death,new_Death,Total_Recovered
0,USA,"925,758",+526,"52,217",+24,"110,432"
1,Spain,"219,764",0,"22,524",0,"92,355"
2,Italy,"192,994",0,"25,969",0,"60,498"
3,France,"159,828",0,"22,245",0,"43,493"
4,Germany,"155,054",+55,"5,767",+7,"109,800"
5,UK,"143,464",0,"19,506",0,N/A
6,Turkey,"104,912",0,"2,600",0,"21,737"
7,Iran,"88,194",0,"5,574",0,"66,599"
8,Russia,"68,622",0,615,0,"5,568"
9,Brazil,"54,043","+1,048","3,704",+34,"27,655"
10,Belgium,"45,325","+1,032","6,917",+238,"10,417"
11,Canada,"43,888",0,"2,302",0,"15,469"
12,Netherlands,"36,535",0,"4,289",0,N/A
13,Switzerland,"28,677",0,"1,593",+4,"21,000"
14,India,"24,530",+83,780,0,"5,498"
15,Portugal,"22,797",0,854,0,"1,228"
16,Ecuador,"22,719",0,576,0,"1,366"
17,Peru,"21,648",0,634,0,"7,496"
18,Ireland,"18,184",0,"1,014",0,"9,233"
19,Sweden,"17,567",0,"2,152",0,"1,005"
20,Austria,"15,148",+77,536,+6,"12,103"
21,Israel,"15,148",+90,198,+4,"6,159"
22,Saudi Arabia,"15,102",0,127,0,"2,049"
23,Mexico,"12,872","+1,239","1,221",+152,"7,149"
24,Japan,"12,829",+117,345,0,"1,530"
25,Singapore,"12,693",+618,12,0,956
26,Chile,"12,306",0,174,0,"6,327"
27,Pakistan,"11,940",0,253,0,"2,755"
28,Poland,"11,067",+175,499,+5,"2,126"
29,S. Korea,"10,718",+10,240,0,"8,635"
...,...,...,...,...,...,...
182,Dominica,16,0,0,0,10
183,Namibia,16,0,0,0,7
184,Grenada,15,0,0,0,7
185,Saint Kitts and Nevis,15,0,0,0,2
186,Saint Lucia,15,0,0,0,15
187,St. Vincent Grenadines,14,0,0,0,5
188,Falkland Islands,13,+1,0,0,11
189,Nicaragua,11,0,3,0,7
190,Burundi,11,0,1,0,4
191,Montserrat,11,0,1,+1,2
192,Turks and Caicos,11,0,1,0,4
193,Greenland,11,0,0,0,11
194,Seychelles,11,0,0,0,6
195,Gambia,10,0,1,0,8
196,Suriname,10,0,1,0,7
197,MS Zaandam,9,0,2,0,0
198,Vatican City,9,0,0,0,2
199,Papua New Guinea,8,0,0,0,0
200,Mauritania,7,0,1,0,6
201,Bhutan,7,0,0,0,3
202,St. Barth,6,0,0,0,6
203,Western Sahara,6,0,0,0,5
204,British Virgin Islands,5,0,1,0,3
205,Caribbean Netherlands,5,0,0,0,0
206,South Sudan,5,0,0,0,0
207,Sao Tome and Principe,4,0,0,0,0
208,Anguilla,3,0,0,0,1
209,Saint Pierre Miquelon,1,0,0,0,0
210,Yemen,1,0,0,0,1
211,China,"82,816",+12,"4,632",0,"77,346"

In [33]:
new_cases1 = []
new_death = []
for i in df["New_Cases"]:
    s=str(i)
    s1 = s.replace("+", "")
    s2 = s1.replace(",", "")
    s3 = int(s2)
    new_cases1.append(s3)
    
for i in df["new_Death"]:
    s=str(i)
    s4 = s.replace("+", "")
    s5 = s4.replace(",", "")
    s6 = int(s5)
    new_death.append(s3)
    
print(new_cases1)
print(new_death)

[526, 0, 0, 0, 55, 0, 0, 0, 0, 1048, 1032, 0, 0, 0, 83, 0, 0, 0, 0, 0, 77, 90, 0, 1239, 117, 618, 0, 0, 175, 10, 0, 817, 0, 396, 0, 0, 478, 0, 0, 102, 0, 20, 0, 51, 172, 309, 0, 0, 0, 0, 0, 0, 0, 0, 0, 53, 0, 109, 0, 0, 60, 0, 115, 32, 0, 0, 81, 0, 0, 112, 5, 0, 16, 0, 15, 13, 0, 0, 0, 46, 0, 0, 2, 0, 0, 0, 104, 0, 20, 0, 0, 8, 0, 0, 0, 9, 0, 29, 0, 0, 0, 0, 0, 12, 0, 0, 46, 1, 3, 22, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 31, 13, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 12]
[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]

In [34]:
df = pd.DataFrame(list(zip(country, total_cases,total_death, new_cases1,new_death,Total_Recovered)), columns = ["country", "Total_Cases","Total_Death" ,"New_Cases", "New_Death", "Total_Recovered"])
df

,country,Total_Cases,Total_Death,New_Cases,New_Death,Total_Recovered
0,USA,"925,758","52,217",526,12,"110,432"
1,Spain,"219,764","22,524",0,12,"92,355"
2,Italy,"192,994","25,969",0,12,"60,498"
3,France,"159,828","22,245",0,12,"43,493"
4,Germany,"155,054","5,767",55,12,"109,800"
5,UK,"143,464","19,506",0,12,N/A
6,Turkey,"104,912","2,600",0,12,"21,737"
7,Iran,"88,194","5,574",0,12,"66,599"
8,Russia,"68,622",615,0,12,"5,568"
9,Brazil,"54,043","3,704",1048,12,"27,655"
10,Belgium,"45,325","6,917",1032,12,"10,417"
11,Canada,"43,888","2,302",0,12,"15,469"
12,Netherlands,"36,535","4,289",0,12,N/A
13,Switzerland,"28,677","1,593",0,12,"21,000"
14,India,"24,530",780,83,12,"5,498"
15,Portugal,"22,797",854,0,12,"1,228"
16,Ecuador,"22,719",576,0,12,"1,366"
17,Peru,"21,648",634,0,12,"7,496"
18,Ireland,"18,184","1,014",0,12,"9,233"
19,Sweden,"17,567","2,152",0,12,"1,005"
20,Austria,"15,148",536,77,12,"12,103"
21,Israel,"15,148",198,90,12,"6,159"
22,Saudi Arabia,"15,102",127,0,12,"2,049"
23,Mexico,"12,872","1,221",1239,12,"7,149"
24,Japan,"12,829",345,117,12,"1,530"
25,Singapore,"12,693",12,618,12,956
26,Chile,"12,306",174,0,12,"6,327"
27,Pakistan,"11,940",253,0,12,"2,755"
28,Poland,"11,067",499,175,12,"2,126"
29,S. Korea,"10,718",240,10,12,"8,635"
...,...,...,...,...,...,...
182,Dominica,16,,0,12,10
183,Namibia,16,,0,12,7
184,Grenada,15,,0,12,7
185,Saint Kitts and Nevis,15,,0,12,2
186,Saint Lucia,15,,0,12,15
187,St. Vincent Grenadines,14,,0,12,5
188,Falkland Islands,13,,1,12,11
189,Nicaragua,11,3,0,12,7
190,Burundi,11,1,0,12,4
191,Montserrat,11,1,0,12,2
192,Turks and Caicos,11,1,0,12,4
193,Greenland,11,,0,12,11
194,Seychelles,11,,0,12,6
195,Gambia,10,1,0,12,8
196,Suriname,10,1,0,12,7
197,MS Zaandam,9,2,0,12,
198,Vatican City,9,,0,12,2
199,Papua New Guinea,8,,0,12,
200,Mauritania,7,1,0,12,6
201,Bhutan,7,,0,12,3
202,St. Barth,6,,0,12,6
203,Western Sahara,6,,0,12,5
204,British Virgin Islands,5,1,0,12,3
205,Caribbean Netherlands,5,,0,12,
206,South Sudan,5,,0,12,
207,Sao Tome and Principe,4,,0,12,
208,Anguilla,3,,0,12,1
209,Saint Pierre Miquelon,1,,0,12,
210,Yemen,1,,0,12,1
211,China,"82,816","4,632",12,12,"77,346"

In [1]:
url_Ind = "https://www.worldometers.info/coronavirus/country/india/"

In [5]:
reponse_ind = requests.get(url_Ind)
print(reponse_ind)

<Response [200]>

In [8]:
soup_ind = BeautifulSoup(reponse_ind.content, "html.parser")
soup_ind

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>India Coronavirus: 27,977 Cases and 884 Deaths - Worldometer</title>
<meta content="India Coronavirus update with statistics and graphs: total and new cases, deaths per day, mortality and recovery rates, current active cases, recoveries, trends and timeline." name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  freestar.initCallback = function () { (freestar.config.enabled_slots.length === 0) ? freestar.initCallbackCalled = false : freestar.newAdSlots(freestar.config.enabled_slots) }
</script>
</link></meta></head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script> <style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<div class="label-counter" id="page-top"><a href="/coronavirus/">World</a> / <a href="/coronavirus/#countries">Countries</a> /
India</div>
<div style="font-size:13px; color:#999; text-align:center">Last updated: April 27, 2020, 06:46 GMT</div>
<div style="text-align:center;width:100%">
<h1>
<div style="display:inline"> <img border="1 px solid #aaa" src="/img/flags/small/tn_in-flag.gif" width="60"/></div>Â India </h1>
</div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">27,977 </span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>884</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>6,523</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .graph_row {

        margin-bottom: 20px;
    }
</style>
<script>
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
</script>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center;">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
Closed Cases</span></div>
<div class="panel-body" style="text-align:center;height:200px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">7,407</div>
<div style="font-size:13.5px">Cases which had an outcome:</div>
<div style="padding-top:20px ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8ACA2B">6,523</span>
(<strong>88</strong>%)
<div style="font-size:13px">Recovered / Discharged</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table">
884</span>
(<strong>12</strong>%)
<div style="font-size:13px">Deaths</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="deaths-cured-outcome-small"></div>
<script type="text/javascript">
    Highcharts.chart('deaths-cured-outcome-small', {
        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'

        },
        title: {
            text: ''

        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
        },



       /* subtitle: {
            text: '(Cumulative total deaths and recoveries over cumulative number of closed cases)'
        },*/

        xAxis: {
            categories: ["Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26"]        },

        yAxis: {
            title: {
                text: 'Percent (%)',
                enabled: false
            },
            labels: {

                format: "{value}%"
            },
            max: 100


        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            line :{
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Death Rate',
            color: '#FF9900',
            lineWidth: 5,

            data: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,20,16.6700000000000017053025658242404460906982421875,16.6700000000000017053025658242404460906982421875,13.3300000000000000710542735760100185871124267578125,13.3300000000000000710542735760100185871124267578125,17.64999999999999857891452847979962825775146484375,17.64999999999999857891452847979962825775146484375,16.6700000000000017053025658242404460906982421875,17.8599999999999994315658113919198513031005859375,17.8599999999999994315658113919198513031005859375,22.5799999999999982946974341757595539093017578125,22.730000000000000426325641456060111522674560546875,20,21.82000000000000028421709430404007434844970703125,30.769999999999999573674358543939888477325439453125,21.510000000000001563194018672220408916473388671875,22.219999999999998863131622783839702606201171875,22.129999999999999005240169935859739780426025390625,23.879999999999999005240169935859739780426025390625,22.14999999999999857891452847979962825775146484375,28.160000000000000142108547152020037174224853515625,27.379999999999999005240169935859739780426025390625,30.940000000000001278976924368180334568023681640625,30.17999999999999971578290569595992565155029296875,26.46000000000000085265128291212022304534912109375,26.6099999999999994315658113919198513031005859375,25.480000000000000426325641456060111522674560546875,26.019999999999999573674358543939888477325439453125,26.3299999999999982946974341757595539093017578125,24.339999999999999857891452847979962825775146484375,22.910000000000000142108547152020037174224853515625,23.46000000000000085265128291212022304534912109375,23.260000000000001563194018672220408916473388671875,22.42999999999999971578290569595992565155029296875,21.870000000000000994759830064140260219573974609375,20.219999999999998863131622783839702606201171875,19.230000000000000426325641456060111522674560546875,17.46000000000000085265128291212022304534912109375,16.379999999999999005240169935859739780426025390625,15.32000000000000028421709430404007434844970703125,13.96000000000000085265128291212022304534912109375,13.480000000000000426325641456060111522674560546875,12.5800000000000000710542735760100185871124267578125,12.42999999999999971578290569595992565155029296875,12.199999999999999289457264239899814128875732421875,11.9000000000000003552713678800500929355621337890625]        },
        {
            name: 'Recovery Rate',
            color: '#8ACA2B',
            lineWidth: 5,
            data: [100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,100,80,83.3299999999999982946974341757595539093017578125,83.3299999999999982946974341757595539093017578125,86.6700000000000017053025658242404460906982421875,86.6700000000000017053025658242404460906982421875,82.349999999999994315658113919198513031005859375,82.349999999999994315658113919198513031005859375,83.3299999999999982946974341757595539093017578125,82.1400000000000005684341886080801486968994140625,82.1400000000000005684341886080801486968994140625,77.4200000000000017053025658242404460906982421875,77.2699999999999960209606797434389591217041015625,80,78.18000000000000682121026329696178436279296875,69.2300000000000039790393202565610408782958984375,78.4899999999999948840923025272786617279052734375,77.780000000000001136868377216160297393798828125,77.8700000000000045474735088646411895751953125,76.1200000000000045474735088646411895751953125,77.849999999999994315658113919198513031005859375,71.840000000000003410605131648480892181396484375,72.6200000000000045474735088646411895751953125,69.06000000000000227373675443232059478759765625,69.81999999999999317878973670303821563720703125,73.5400000000000062527760746888816356658935546875,73.3900000000000005684341886080801486968994140625,74.5199999999999960209606797434389591217041015625,73.9800000000000039790393202565610408782958984375,73.6700000000000017053025658242404460906982421875,75.659999999999996589394868351519107818603515625,77.090000000000003410605131648480892181396484375,76.5400000000000062527760746888816356658935546875,76.7399999999999948840923025272786617279052734375,77.56999999999999317878973670303821563720703125,78.1299999999999954525264911353588104248046875,79.780000000000001136868377216160297393798828125,80.7699999999999960209606797434389591217041015625,82.5400000000000062527760746888816356658935546875,83.6200000000000045474735088646411895751953125,84.68000000000000682121026329696178436279296875,86.0400000000000062527760746888816356658935546875,86.5199999999999960209606797434389591217041015625,87.4200000000000017053025658242404460906982421875,87.56999999999999317878973670303821563720703125,87.7999999999999971578290569595992565155029296875,88.099999999999994315658113919198513031005859375]        }
        ],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 400
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
<a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">Show Statistics</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div>
<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="2348228155" style="display:inline-block;width:300px;height:600px"></ins>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
</div>
</div>
</div>
</link></body></html>
<div class="container">
<div class="row">
<div class="col-md-8">
<div style="margin-top:50px; margin-bottom:50px">
<a href="/coronavirus/about/"><strong>Learn more about Worldometer's COVID-19 data</strong></a></div>
</div>
</div>
<div class="row">
<div class="col-md-8">
<div class="row graph_row">
<div class="col-md-12">
<h3>Total Coronavirus Cases in India</h3>
<style>
    /* Tabs panel */
    .tabbable-panel-cases {
        border: 1px solid #ccc;
        padding: 10px;
    }

    /* Default mode */
    .tabbable-line-cases>.nav-tabs {
        border: none;
        margin: 0px;
    }


In [9]:
soup_ind.title

##Loading External Data

In [6]:
covid_19 = pd.read_csv(r'C:/Users/27703/Documents/Other/Corona/novel-corona-virus-2019-dataset/time_series_covid_19_confirmed.csv')

In [7]:
covid_19

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1026,1092,1176,1279,1351,1463,1531,1703,1828,1939
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,584,609,634,663,678,712,726,736,750,766
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,2718,2811,2910,3007,3127,3256,3382,3517,3649,3848
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,717,717,723,723,731,738,738,743,743,743
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,25,25,25,25,26,27,27,27
5,NaN,Antigua and Barbuda,17.060800,-61.796400,0,0,0,0,0,0,...,23,23,24,24,24,24,24,24,24,24
6,NaN,Argentina,-38.416100,-63.616700,0,0,0,0,0,0,...,2941,3031,3144,3435,3607,3780,3892,4003,4127,4285
7,NaN,Armenia,40.069100,45.038200,0,0,0,0,0,0,...,1339,1401,1473,1523,1596,1677,1746,1808,1867,1932
8,Australian Capital Territory,Australia,-35.473500,149.012400,0,0,0,0,0,0,...,104,104,104,104,105,106,106,106,106,106
9,New South Wales,Australia,-33.868800,151.209300,0,0,0,0,3,4,...,2963,2969,2971,2976,2982,2994,3002,3004,3016,3016
10,Northern Territory,Australia,-12.463400,130.845600,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.016700,153.400000,0,0,0,0,0,0,...,1019,1024,1024,1026,1026,1026,1030,1033,1034,1033
12,South Australia,Australia,-34.928500,138.600700,0,0,0,0,0,0,...,435,437,438,438,438,438,438,438,438,438
13,Tasmania,Australia,-41.454500,145.970700,0,0,0,0,0,0,...,200,201,205,207,207,207,212,214,218,219
14,Victoria,Australia,-37.813600,144.963100,0,0,0,0,1,1,...,1329,1336,1336,1337,1343,1346,1349,1349,1354,1361
15,Western Australia,Australia,-31.950500,115.860500,0,0,0,0,0,0,...,545,546,546,546,548,549,549,549,550,551
16,NaN,Austria,47.516200,14.550100,0,0,0,0,0,0,...,14795,14873,14925,15002,15071,15148,15225,15274,15357,15402
17,NaN,Azerbaijan,40.143100,47.576900,0,0,0,0,0,0,...,1436,1480,1518,1548,1592,1617,1645,1678,1717,1766
18,NaN,Bahamas,25.034300,-77.396300,0,0,0,0,0,0,...,60,65,65,72,73,78,80,80,80,80
19,NaN,Bahrain,26.027500,50.550000,0,0,0,0,0,0,...,1907,1973,2027,2217,2518,2588,2647,2723,2811,2921
20,NaN,Bangladesh,23.685000,90.356300,0,0,0,0,0,0,...,2948,3382,3772,4186,4689,4998,5416,5913,6462,7103
21,NaN,Barbados,13.193900,-59.543200,0,0,0,0,0,0,...,75,75,75,76,77,79,79,80,80,80
22,NaN,Belarus,53.709800,27.953400,0,0,0,0,0,0,...,6264,6723,7281,8022,8773,9590,10463,11289,12208,13181
23,NaN,Belgium,50.833300,4.000000,0,0,0,0,0,0,...,39983,40956,41889,42797,44293,45325,46134,46687,47334,47859
24,NaN,Benin,9.307700,2.315800,0,0,0,0,0,0,...,54,54,54,54,54,54,64,64,64,64
25,NaN,Bhutan,27.514200,90.433600,0,0,0,0,0,0,...,5,6,6,7,7,7,7,7,7,7
26,NaN,Bolivia,-16.290200,-63.588700,0,0,0,0,0,0,...,564,598,609,703,807,866,950,1014,1014,1110
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,0,0,0,0,0,0,...,1309,1342,1368,1413,1421,1486,1516,1565,1585,1677
28,NaN,Brazil,-14.235000,-51.925300,0,0,0,0,0,0,...,40743,43079,45757,50036,54043,59324,63100,67446,73235,79685
29,NaN,Brunei,4.535300,114.727700,0,0,0,0,0,0,...,138,138,138,138,138,138,138,138,138,138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,NaN,Mozambique,-18.665695,35.529562,0,0,0,0,0,0,...,39,39,41,46,65,70,76,76,76,76
235,NaN,Syria,34.802075,38.996815,0,0,0,0,0,0,...,39,42,42,42,42,42,43,43,43,43
236,NaN,Timor-Leste,-8.874217,125.727539,0,0,0,0,0,0,...,22,23,23,23,24,24,24,24,24,24
237,NaN,Belize,13.193900,-59.543200,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18
238,Recovered,Canada,0.000000,0.000000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239,NaN,Laos,19.856270,102.495496,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19
240,NaN,Libya,26.335100,17.228331,0,0,0,0,0,0,...,51,51,59,60,61,61,61,61,61,61
241,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,449,466,474,480,484,342,342,342,343,344
242,NaN,Guinea-Bissau,11.803700,-15.180400,0,0,0,0,0,0,...,50,50,50,50,52,52,53,73,73,205
243,NaN,Mali,17.570692,-3.996166,0,0,0,0,0,0,...,246,258,293,309,325,370,389,408,424,482
244,NaN,Saint Kitts and Nevis,17.357822,-62.782998,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,15
245,Northwest Territories,Canada,64.825500,-124.845700,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
246,Yukon,Canada,64.282300,-135.000000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
247,NaN,Kosovo,42.602636,20.902977,0,0,0,0,0,0,...,510,510,510,510,510,510,510,510,510,510
248,NaN,Burma,21.916200,95.956000,0,0,0,0,0,0,...,119,121,123,139,144,146,146,146,150,150
249,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
250,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,5,5,5,5,5,6,6,6,6,6
251,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,11,11,11,11,11,11,11,12,12,12
252,NaN,MS Zaandam,0.000000,0.000000,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
253,NaN,Botswana,-22.328500,24.684900,0,0,0,0,0,0,...,20,20,22,22,22,22,22,22,23,23
254,NaN,Burundi,-3.373100,29.918900,0,0,0,0,0,0,...,5,5,11,11,11,11,11,11,11,11
255,NaN,Sierra Leone,8.460555,-11.779889,0,0,0,0,0,0,...,43,50,61,64,82,82,93,93,104,104
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
257,NaN,Malawi,-13.254308,34.301525,0,0,0,0,0,0,...,17,18,23,33,33,33,34,36,36,36
258,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,11,11,11,12,13,13,13,13,13,13
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,4,4,4,5,5,5,6,6,34,34
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,8,8
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,6

In [12]:
covid_19.groupby(covid_19['Province/State'])['4/29/20'].sum()

Province/State
Alberta                              5165
Anguilla                                3
Anhui                                 991
Aruba                                 100
Australian Capital Territory          106
Beijing                               593
Bermuda                               111
Bonaire, Sint Eustatius and Saba        5
British Columbia                     2087
British Virgin Islands                  6
Cayman Islands                         73
Channel Islands                       537
Chongqing                             579
Curacao                                16
Diamond Princess                        0
Falkland Islands (Malvinas)            13
Faroe Islands                         187
French Guiana                         125
French Polynesia                       58
Fujian                                355
Gansu                                 139
Gibraltar                             141
Grand Princess                         13
Greenland                              11
Guadeloupe                            149
Guangdong                            1588
Guangxi                               254
Guizhou                               147
Hainan                                168
Hebei                                 328
                                    ...
Northwest Territories                   5
Nova Scotia                           935
Ontario                             16978
Prince Edward Island                   27
Qinghai                                18
Quebec                              26610
Queensland                           1033
Recovered                               0
Reunion                               420
Saint Barthelemy                        6
Saint Pierre and Miquelon               1
Saskatchewan                          383
Shaanxi                               306
Shandong                              787
Shanghai                              647
Shanxi                                197
Sichuan                               561
Sint Maarten                           75
South Australia                       438
St Martin                              38
Tasmania                              219
Tianjin                               190
Tibet                                   1
Turks and Caicos Islands               12
Victoria                             1361
Western Australia                     551
Xinjiang                               76
Yukon                                  11
Yunnan                                185
Zhejiang                             1268
Name: 4/29/20, Length: 82, dtype: int64